@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
.theme-custom {
  /* Name: custom color palette
     Author: Ilias Ism
     URL: https://gradient.page */

  /* CSS: .bg-gradient { background: var(--gradient) } */
  --gradient: linear-gradient(to top left,#0052D4,#4364F7,#6FB1FC);

  --background: 230 65% 3.36%;
  --foreground: 230 10% 97.1%;

  --muted: 230 50% 12.6%;
  --muted-foreground: 230 10% 54.2%;

  --popover: 230 45% 5.46%;
  --popover-foreground: 230 10% 97.1%;

  --card: 230 45% 5.46%;
  --card-foreground: 230 10% 97.1%;

  --border: 230 50% 12.6%;
  --input: 230 50% 12.6%;

  --primary: 230 100% 42%;
  --primary-foreground: 230 10% 97.1%;

  --secondary: 230 50% 12.6%;
  --secondary-foreground: 230 10% 97.1%;

  --accent: 230 50% 12.6%;
  --accent-foreground: 230 10% 97.1%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 230 10% 97.1%;

  --ring: 230 100% 42%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* input hide scroll */
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*::-webkit-scrollbar {
  display: none;
}

@keyframes changeBackgroundColor {
  0%,
  100% {
      opacity: 1;
  }
  16.67% {
      opacity: 0.9;
  }
  33.33% {
      opacity: 0.8;
  }
  50% {
      opacity: 0.6;
  }
  66.67% {
      opacity: 0.3;
  }
  83.33% {
      opacity: 0.4;
  }
}

@keyframes shake {
  0% {
      transform: translateX(0);
  }
  20% {
      transform: translateX(-2px);
  }
  40% {
      transform: translateX(2px);
  }
  60% {
      transform: translateX(-2px);
  }
  80% {
      transform: translateX(2px);
  }
  100% {
      transform: translateX(0);
  }
}
.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes off-on {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.banner-icon {
  animation: off-on 5s linear infinite;
}


body {
  color: rgb(var(--foreground-rgb));

  .hero_animation {
      background-image: linear-gradient(
          147.92deg,
          hsla(0, 0%, 100%, 0.4) 11.41%,
          hsla(0, 0%, 100%, 0) 90.25%
      );
  }
}

.default-btn {
  font-size: 16px;
  color: #fff;
  transition: all 0.5s ease;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;

  padding: 16px 40px 12px;
  background: linear-gradient(133.65deg, #6cc17e 2.24%, #098b99);
  border-radius: 3px;
  border-radius: 5px;
  font-weight: 600;
}
.bg {
  background: linear-gradient(133.65deg, #6cc17e 2.24%, #098b99);
}
.default-text {
  color: linear-gradient(133.65deg, #6cc17e 2.24%, #098b99);
}


@layer utilities {
  .text-balance {
      text-wrap: balance;
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}